<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="screen-orientation" content="portrait">
	<title>ZHIFEIJI</title>
	<link rel="stylesheet" href="../../static/css/detail/index.css">
	<link href="//cdn.bootcss.com/antd/2.5.0/antd.min.css" rel="stylesheet">
</head>
<body>
	<div id="container">
		
	</div>
	<script src="../../static/es6/lib/react.min.js"></script>
	<script src="../../static/es6/lib/react-dom.min.js"></script>
	<script src="../../static/es6/detail/detail.js"></script>
</body>
</html>